<h3><a href="/manufacturers/">All Manufacturers</a></h3>
<h3><a href="/vehicles/">All Vehicles</a></h3>
<h1><%= @manufacturer.name %></h1>

<p>Number of sub manufacturers: <%= @manufacturer.number_of_sub_manufacturers %></p>
<p>Favorite manufacturer: <%= @manufacturer.favorite_manufacturer %></p>
<p>Created at: <%= @manufacturer.created_at %></p>
<p>Updated at: <%= @manufacturer.updated_at %></p>

