<h1><%= @manufacturer.name %></h1>

<p>Number of sub manufacturers: <%= manufacturer.number_of_sub_manufacturers %></p>
<p>Favorite manufacturer: <%= manufacturer.favorite_manufacturer %></p>
<p>Created At: <%= manufacturer.created_at %></p>
<p>Updated At: <%= manufacturer.updated_at %></p>