<h1><%= @manufacturer.name %></h1>
save_and_open_page

<p>Number of sub manufacturers: <%= @manufacturer.number_of_sub_manufacturers %></p>
<p>Favorite manufacturer: <%= @manufacturer.favorite_manufacturer %></p>
<p>Created at: <%= @manufacturer.created_at %></p>
<p>Updated at: <%= @manufacturer.updated_at %></p>